BasicAdvanced/.vs/
BasicAdvanced/Array/obj/
BasicAdvanced/Async/obj/
BasicAdvanced/Basics/obj/
BasicAdvanced/ClassAndType/obj/
BasicAdvanced/Collection/obj/
BasicAdvanced/DelegateLambdaEvent/obj/
BasicAdvanced/Exception/obj/
BasicAdvanced/Generics/obj/
BasicAdvanced/Inheritance/bin/
BasicAdvanced/Inheritance/obj/
BasicAdvanced/Linq/obj/
BasicAdvanced/OperatorAndTypeConversion/obj/
BasicAdvanced/SpecialCollection/obj/
BasicAdvanced/StringAndRegularExpression/obj/
/DesignPatterns/DirectX.DesignPatterns.Factory/bin
/DesignPatterns/DirectX.DesignPatterns.Factory/obj
/DesignPatterns/.vs
/AspNetCore.HealthChecks.WithUriAndUI.Samples/Products.Api/obj/Debug/netcoreapp2.2
v15
/AspNetCore.HealthChecks.WithUriAndUI.Samples/AspNetCore.HealthChecks.WithUriAndUI.Samples.sln.DotSettings.user
netcoreapp2.2
obj
/AspNetCore.HealthChecks.WithUriAndUI.Samples/HealthCheckSample/healthchecksdb
/AspNetCore.HealthChecks.WithUriAndUI.Samples/.vs/config
/GraphQL/Chapter2/GraphQL.Samples.Chapter2/*.user
/GraphQL/Chapter1/*.user
/GraphQL/*.user
