################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicAdvanced/.vs/BasicAdvanced/v15
